* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: aliceblue !important;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}
h6 {
  font-weight: 700 !important;
}
/* h1,
h2,
h3,
h4,
h5 {
  text-transform: capitalize;
} */
h1,
h2 {
  text-transform: uppercase;
  padding: 1rem;
}

@media (max-width: 992px) {
  h1 {
    font-size: 2rem !important;
  }
  h2 {
    font-size: 1.7rem !important;
  }
  h3 {
    font-size: 1.4rem !important;
  }
  h4,
  h5 {
    font-size: 1.2rem !important;
  }
}
@media (min-width: 992px) {
  p {
    font-size: 1.1rem;
  }
}

/* google fonts */

/* navbar */
.navbar-brand {
  font-weight: 800 !important;
  font-style: italic;
  font-family: monospace;
}

/* end of navbar */

/* banner */
.btn {
  border: 2px solid aliceblue !important;
}
.btn:hover {
  background-color: white !important;
  color: rgb(10, 49, 243) !important ;
}

.banner {
  background: linear-gradient(to right, #7f7fd5d5, #91eae4d2),
    url(../images/banner.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  background-size: 100% 100%;
}
.banner-text {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  max-width: 100vw;
}

.banner-nameplate {
  min-height: 100vh;
  position: relative;
}
.banner-nameplate-container {
  background: rgba(0, 0, 0, 0.444);
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  padding: 1.5rem;
  border: 2px solid rgb(10, 49, 243);
  font-family: 'Indie Flower', cursive !important;
  text-align: center;
}

.banner-main-heading {
  font-size: 4rem !important;
  padding: 1rem;
}
.banner-typing {
  padding: 1.5rem;
}

/* animated text */
.animated-text span {
  position: relative;
  color: black;
  font-weight: 800 !important;
}
.animated-text span::before {
  content: 'MAHMUDA HELEN';
  animation: words 15s infinite;
}
.animated-text span::after {
  content: '';
  position: absolute;
  width: calc(100% + 8px);
  height: 100%;
  background: linear-gradient(to left, #7f7fd5de, #91eae4e5);
  border-left: 2px solid white;
  right: -8px;
  animation: cursor 0.8s infinite, typing 15s steps(14) infinite;
}
@keyframes cursor {
  to {
    border-left: 2px solid #56455e;
  }
}
@keyframes words {
  0%,
  30% {
    content: 'Marketing Specialist';
  }
  31%,
  60% {
    content: 'Freelancer';
  }
  61%,
  80% {
    content: 'Web Developer';
  }
  81%,
  100% {
    content: 'Digital Content Creator';
  }
}
@keyframes typing {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

@media (max-width: 552px) {
  .banner {
    max-height: 200vh !important;
  }
  .banner-main-heading {
    font-size: 3rem !important;
    padding-top: 16rem;
    text-align: center;
  }
  .banner-btn {
    font-size: 1rem !important;
  }

  #education img {
    max-height: 30% !important;
  }
  #carouselExampleControls img {
    width: 100% !important;
  }

  /* pencil */
  .cover {
    height: 50vh !important;
  }
  .center {
    width: 120px;
    top: 220% !important;
    left: 50%;
    -webkit-animation: animate-pen-sm 5s linear infinite;
    animation: animate-pen-sm 5s linear infinite;
  }
  .center:before {
    width: 0;
    height: 0;
    background: #0f317e !important;
    -webkit-animation: Noanimation 0s !important;
    animation: Noanimation 0s !important;
  }
}

.btn {
  /* text-transform: uppercase; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 0.5rem;
}
@media (min-width: 800px) {
  .banner-heading {
    font-size: 2.5rem;
  }
}
/* end of banner */

/* new codes pencil on banner +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.cover {
  height: 35vh;
}

.center {
  width: 200px;
  height: 36px;
  border: 0.2px solid #0f317e;
  background: #0f317e;
  position: absolute;
  top: 230%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-45deg);
  transform: translate(-50%, -50%) rotate(-45deg);
  -webkit-animation: animate-pen 5s linear infinite;
  animation: animate-pen 5s linear infinite;
}
.center:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0f317e;
  -webkit-animation: animate 5s linear infinite;
  animation: animate 5s linear infinite;
}

.center:after {
  content: '';
  position: absolute;
  background: #0f317e;
  -webkit-animation: animate 4s linear infinite;
  animation: animate 4s linear infinite;
}
.pencil:before {
  content: '';
  position: absolute;
  left: -80px;
  top: -2px;
  border-style: solid;
  border-color: transparent #56455e transparent transparent;
  border-width: 23px 41px 16px;
}

.pencil:after {
  content: '';
  position: absolute;
  left: -80px;
  top: 0;
  border-style: solid;
  border-color: transparent #0f317e transparent transparent;
  border-width: 23px 41px 16px;
  -webkit-transform: scale(0.4);
  transform: scale(0.4);
}

.pencil-top {
  position: absolute;
  right: -5px;
  top: -1px;
  height: 38px;
  width: 20px;
  background-color: #56455e;
  border-radius: 0 4px 4px 0;
}

@keyframes animate-pen {
  0% {
    left: 18%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    left: 30%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    left: 28%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    left: 18%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

@keyframes animate-pen-sm {
  0% {
    left: 35%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  50% {
    left: 50%;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  75% {
    left: 38%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
  100% {
    left: 30%;
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
  }
}

/* education section */
.education-text {
  background-color: aliceblue !important;
  color: black !important;
  height: 100%;
  text-align: center;
  align-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 1em;
}
.education-heading {
  color: rgb(81, 81, 228);
}

#education {
  background: url(../images/background.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

/* end of education */

/* story section */
.story {
  overflow: hidden;
}

.story-text {
  background: linear-gradient(to right, #7f7fd584, #91eae47d);
  padding: 1.5rem;
  color: black;
  font-weight: 600;
}
.story-heading {
  padding-bottom: 1.5rem;
}

.contact-btn {
  margin-top: 1.5rem;
}

@media (min-width: 992px) {
  .story-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
  }
  .hat-image {
    height: 100vh !important;
    /* width: 38vw !important; */
  }
  .story-text {
    width: 62vw;
    padding: 4rem;
    align-content: center;
  }
}
/* end of story section */

/* skills section */
/* .skills {
  overflow: hidden;
} */
@media (min-width: 992px) {
  .skills-1,
  .skills-2 {
    border-right: 1px solid grey;
  }
}
@media (max-width: 992px) {
  .skills-1,
  .skills-2 {
    border-bottom: 1px solid grey;
  }
}

.skills-container {
  margin-top: -9rem;
}
#skills {
  background-color: aliceblue !important;
}

.skills-items {
  padding: 2rem !important;
  padding-bottom: none !important;
  background: white;
  text-align: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.126);
}
.skills-heading {
  padding-top: 1rem;
  padding-bottom: 0.5rem;
}
/* end of skills section */

/* projects section */

/* .design {
  background: url(./images/coolers.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  overflow: hidden;
} */

#carouselExampleControls img {
  margin: auto !important;
  margin-top: 1.5rem !important;
}
.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}
.designs {
  min-width: 95% !important;
}

.projects {
  background: linear-gradient(to right, #7f7fd584, #91eae47d);
  margin-top: -9rem;
  overflow: hidden;
  font-weight: 600;
}
.projects-container {
  width: 60vw;
  text-align: center;
  margin: 0 auto;
  padding: 7rem;
  padding-top: 11rem;
  padding-bottom: 11rem;
}

.projects-card-container {
  text-align: center;
}

@media (max-width: 992px) {
  .projects-container {
    width: 85vw;
    padding: 1rem;
  }
  .projects {
    margin: 0;
    overflow: hidden;
  }
}

.card {
  box-shadow: #7f7fd5d5 0px 30px 60px -12px inset,
    #91eae4d2 0px 18px 36px -18px inset;
  margin: 1rem;
  height: fit-content;
}

.card img {
  height: 220px !important;
}

.texts {
  z-index: 10;
  background: linear-gradient(to right, #7f7fd574, #91eae465);
  padding: 1rem;
}

.projects-img {
  height: 80% !important;
  width: 100% !important;
  padding-bottom: 1rem;
}

@media (min-width: 992px) {
  .projects-card-container {
    margin-top: -9rem !important;
  }
}
.projects-card-container {
  overflow: hidden;
}

/* end of projects section */

/* ================== footer section ==================== */

/* footer outer div */

.footer-div {
  padding: 2rem;
  background: rgb(81, 81, 228);
  max-width: 65vw !important;
}
.footer-outer-div {
  margin-top: -20rem;
  text-align: center;
  text-align: center;
}

@media (max-width: 1000px) {
  .footer-outer-div {
    margin-top: -26rem;
  }
  .footer-div {
    max-width: 80vw !important;
  }
  .footer {
    margin-top: 16rem !important;
  }
}

@media (min-width: 1200px) {
  .footer-div {
    height: 10rem !important;
  }
}

.footer {
  background: linear-gradient(to right, #7f7fd5d5, #91eae4d2);
  /* background: violet; */
  width: 100vw;
  margin-top: 10rem;
  overflow: hidden;
}

.footer-container {
  padding: 3rem;
  padding-bottom: 3.5rem;
  padding-top: 8rem;
  text-align: center;
}
.footer-heading {
  font-size: 1rem;
  text-transform: uppercase;
  padding-top: 2rem;
}
.footer-sm {
  font-size: 1.5rem !important;
  padding: 0.5rem;
}
.footer-sm:hover {
  transform: scale(1.2);
  color: purple;
  cursor: pointer;
}
@media screen and (min-width: 1000px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
/* ================== end of footer section ==================== */
